<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="CassandraSharp" type="CassandraSharp.SectionHandler, CassandraSharp"/>
    </configSections>
    
    <CassandraSharp>
        <Cluster name="TestCassandra">
            <Transport type="CqlBinary" cqlver="3.0.0" port="9042" />
            <Endpoints>
                <Server>10.129.0.240</Server>
            </Endpoints>
        </Cluster>
    </CassandraSharp>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
